{%extends 'core/base.html' %}

{% load static %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/dibujo.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Martina García</h2>
        <p>Soy estudiante del Doble Grado en Ingeniería Matemática e Informática. Me apasiona aprender cosas nuevas y superar retos, especialmente cuando se trata de resolver problemas y analizar datos.</p>
        <p>Disfruto aplicando las matemáticas y la programación para encontrar soluciones útiles e innovadoras. Siempre estoy deseando participar en nuevos proyectos y seguir aprendiendo para mejorar mis habilidades y conocimientos.</p>
    </div>
</div>
{% endblock %}