{% extends 'core/base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block background %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">¿Tienes alguna pregunta o quieres colaborar? ¡Escríbeme!</span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Si tienes alguna duda, quieres colaborar en un proyecto o simplemente ponerte en contacto conmigo, no dudes en escribirme. Estoy siempre abierta a nuevas ideas y oportunidades.</p>
        <p><b>Email:</b> <a href="mailto:martinagg@myuax.com">martinagg@myuax.com</a></p>
        <p><b>LinkedIn:</b> Martina García González</p>
    </div>
</div>
{% endblock %}