<!DOCTYPE html>
{% extends 'core/base.html' %}

{% load static %}
{% block title %}Portada{% endblock %}

{% block background %}{% static 'core/img/home-bg.jpg' %}{% endblock%}

{% block headers %}
    <h1>Martina García</h1>
    <span class="subheading">Estudiante Ingeniería Matemática e Informática </span>
{% endblock %}

{% block content %}
<div class="container text-center">
 
    <p>
        Aquí encontrarás más información sobre mi trayectoria, mis intereses, y cómo aplico mis conocimientos en el mundo real. Te invito a explorar mi portafolio y conocer más sobre mi formación y experiencia.
    </p>
</div>
{% endblock %}